<div class="custom-shopify-section">
  <h1>{{ section.settings.header.content }}</h1>
  <div class="images">
    <img src="{{ section.settings.image_one | image_url: '300x' }}" alt="{{ section.settings.image_one.label }}">
    <img src="{{ section.settings.image_two | image_url: '300x' }}" alt="{{ section.settings.image_two.label }}">
  </div>
  <h2>{{ section.settings.header.content }}</h2>
  <p>{{ section.settings.paragraph }}</p>
  {% if section.settings.show_button %}
    <button>{{ section.settings.cta_button }}</button>
  {% endif %}
</div>

{% schema %}
{
  "name": "two-images-section",
  "class":"section",
  "settings": [
    {
      "type": "header",
      "content": "Your Heading Here"
    },
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Second Image"
    },
    {
      "type": "header",
      "content": "Another Heading Here"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph Text",
      "default": "Your paragraph text here."
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    }
  ]
}

{% endschema %}