<section class="two-images-section">
  <h1>{{ section.settings.header }}</h1>
  <div class="images">
    {{ section.settings.image_one | image_url: width:100 | image_tag: alt:section.settings.image_one.label}}
    {{ section.settings.image_one | image_url: width:100 | image_tag: alt:section.settings.image_one.label}}
  </div>
  <h2>{{ section.settings.header2 }}</h2>
  <p>{{ section.settings.paragraph }}</p>
  {% if section.settings.show_button %}
    <button>{{ section.settings.cta_button }}</button>
  {% endif %}
  
</section>

{% schema %}
{
  "name": "two-images-section",
  "class":"section",
  "settings": [
    {
      "type": "richtext",
      "id":"header",
      "label": "Your Heading Here"
    },
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Second Image"
    },
    {
      "type": "richtext",
      "id":"header2",
      "label": "Another Heading Here"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph Text",
      "default": "Your paragraph text here."
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    },
    {
      "type": "text",
      "id": "cta_button",
      "label": "Button Text",
      "default": "Click Me"
    }
  ],
    "presets": [
    {
      "name": "Two images section"
    }
  ]
}

{% endschema %}