<section class="two-images-section">
  <h1>{{ section.settings.header }}</h1>
  <div class="images">
    <img src="{{ section.settings.image_one | image_url: 'large' | image_tag: width : 300  }}" alt="{{ section.settings.image_one.label }}">
    <img src="{{ section.settings.image_two | image_url: 'large'  | image_tag: width : 300  }}" alt="{{ section.settings.image_two.label }}">
  </div>
  <h2>{{ section.settings.header2 }}</h2>
  <p>{{ section.settings.paragraph }}</p>
  
</section>

{% schema %}
{
  "name": "two-images-section",
  "class":"section",
  "settings": [
    {
      "type": "richtext",
      "id":"header",
      "label": "Your Heading Here"
    },
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Second Image"
    },
    {
      "type": "richtext",
      "id":"header2",
      "label": "Another Heading Here"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph Text",
      "default": "Your paragraph text here."
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    }
  ],
    "presets": [
    {
      "name": "Two images section"
    }
  ]
}

{% endschema %}